 body { font-size:14pt;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	background-color: #FFFFFF;
	color: #000000;} 

 h1 { 	font-size:24px;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color: #2D5474; } 

 ul {	list-style-type: circle;}